body{
    margin: 0;
    font-family: sans-serif;
}

.top-banner{
    display: flex;
    margin: 100px;
}
.stay-us{
   width: 50%;
}
.heading{
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 5px solid orangered;
    border-radius: 5px;
    padding-left:15px ;
}
.stay-us p{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}
.stay-us a{
    text-decoration: none;
    font-size: 18px;
    background-color: orangered;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    color: white;
}

.first_img img{
    width: 500px;
    padding-left: 80px;
}

/********************Start My mission Section******************/
.my-mission h1{
    font-size: 55px;
    text-align: center;
}

.mission-card{
    display: flex;
    width:150vh;
    box-sizing: border-box;
    margin-left: 28vh;
    
    
}
.card1{
    background-color: #EDF5F6;
    margin: 30px;
    border-radius: 30px;
    width: 25%;
    padding: 25px;
}
.card1 img{
    width: 100%;
}
.card2{
    background-color: #FFEEEE;
    margin: 30px;
    border-radius: 30px;
    width: 25%;
    padding: 25px;
}
.card2 img{
    width: 100%;
}
.card3{
    background-color: #FFF4D6;
    margin: 30px;
    border-radius: 30px;
    width: 25%;
    padding: 25px;

}
.card3 img{
    width: 100%;
}
/*-------------Developer section Start-------------*/
.developer{
    display: flex;
    margin-top: 80px;
}

.coding-img{
    width: 50%;
    padding-left: 50px;
}
.coding-img img{
    max-width: 60vh;
    margin-left: 30px;

}
.developlimits{
    width: 100%;
    margin-left: 100px;
    padding: 50px;
    padding-right:120px;

}
.developlimits h1{
    font-size: 40px;
    font-weight: bolder;
}
.developlimits p{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
   }
.developlimits a{
    text-decoration: none;
    color: white;
    padding:15px 32px;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

/*---------------------------Community Section---------------------------*/
.community-sec{
    margin-top: 100px;
    display: flex;
}
.community_text{
    width: 50%;
    padding: 20px 80px;
}
.community_text h1{
    font-size: 40px;
    font-weight: 800;
}
.community_text a{
    text-decoration: none;
    color: white;
    padding:15px 32px;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.community_text p{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}
.community-img{
    width: 50%;
}
.community-img img{
    background-image: url(./img/shape-1.png);
    background-position:right;
    width: 60%;
    padding-left: 25%;
}
/*------------Start Partner Sec------------------*/
..partner-sec{
    margin-top: 100px;
}

.partner-sec h1{
    text-align: center;
    font-size: 50px;
}
.partner-box{
    display: flex;
    margin-top: 80px;
}
.herobanner{
    width: 50%;
}
.herobanner img{
    max-width: 80%;
    margin-left: 130px;
}
.hero-text{
    width: 50%;
    padding-left: 60px;
    padding-right: 55px;
}
.hero-text h1{
    font-size: 50px;
    text-align: left;
}
.hero-text p{
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
}
.hero-text a{
    text-decoration: none;
    color: white;
    padding:15px 32px;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}





footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}
.footer{
    display: flex;
}
.foot_quete{
    width: 30%;
    text-align: left;
    padding: 25px 100px;
    color: gray;
}
.foot_quete p{
    text-align: justify;
    font-size: 14px;
}

.address{
    border-left: 2px solid gray;
    height: 95px;
    margin-top: 50px;
    text-align: left;
    padding: 50px 100px;
    color: gray;
}